[flake8]
extend-ignore =
    # False positive "whitespace before ':' " on list slice.
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
    # Line length. Let black handle it.
    E501,
